<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xydesk.xy.xydesk">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="xydesk.xy.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="xydesk.xy.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="xydesk.xy.appAll.ui.AllAppShowUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="xydesk.xy.appAll.ui.NameSetUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="xydesk.xy.set.SetUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="xydesk.xy.set.VoiceSetUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="xydesk.xy.contact.AddContactNameUI"
            android:screenOrientation="portrait" />
        <!--
                <receiver android:name="xydesk.xy.appAll.ui.AllAppShowUI$AppInstallReciver">
                    <intent-filter>
                        &lt;!&ndash; 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） &ndash;&gt;
                        <action android:name="android.intent.action.PACKAGE_ADDED" />
                        &lt;!&ndash; 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到&ndash;&gt;
                        <action android:name="android.intent.action.PACKAGE_REPLACED" />
                        &lt;!&ndash; 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） &ndash;&gt;
                        <action android:name="android.intent.action.PACKAGE_REMOVED" />
                        <data android:scheme="package" />
                    </intent-filter>
                </receiver>-->
        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="572c70c8" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="xydesk" />
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="9dded4cd4890285f02a5fdfbe81722a0" />
        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580d762dbbea834f740022a7" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xydesk" />
        <!--开机自启动-->
        <receiver android:name="xydesk.xy.servce.OpenPhone">
            <intent-filter>
                !-- 系统启动完成后会调用-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="xydesk.xy.servce.MyInstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>
    </application>

</manifest>